<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ur5e urdf file -->
    <xacro:include filename="$(find ur5e_cutter_description)/urdf/ur5e_cutter.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="ur5e.ros2_control.xacro" />

    <xacro:ur5e_ros2_control name="ur5eFakeSystem" initial_positions_file="$(arg initial_positions_file)" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>

</robot>
